# Python
__pychache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
.venv/
venv/
.env

# DVC and ML artifacts
/data/
models/
mlruns/

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

