# Python
__pychache__/
*.py[cod]
*.egg-info
src/*.egg-info/
.dst-info/
build/
dist/

# Jupyter
*.ipynb_checkpoints
.virtual_documents/
notebooks/mlruns/


# Environments
.venv/
venv/
.pytest_cache/
.mypy_cache/
.env

# Ignore data files but not DVC tracking files
data/raw/*
!data/raw/*.dvc
!data/raw/metadata.json
data/processed/*
!data/processed/*.dvc

# ML artifacts
models/
mlruns/

# DVC
.dvc/
.dvc/tmp
.dvc/cache

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock

# AWS SAM
.aws-sam/

# VSCode
.vscode/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
TREE.txt