# Python
__pychache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
.venv/
venv/
.env

# ML artifacts
/data/
models/
mlruns/

# DVC
.dvc/
.dvc/tmp
.dvc/cache

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

