# === Core ML & Data ===
pandas		# Tabular data processing
scikit-learn	# Classical ML models and preprocessing
xgboost		# Gradient boosting machine

# === Hyper Optimization ===
hyperopt	# Distributed hyperparameter turing (works with MLflow)

# === Experiment Tracking ===
mlflow		# Track and compare model runs, params, metrics

# === AWS Integration ===
boto3                   # Required for AWS S3 access (used by DVC and MLflow)

# === Data Version Control ===
dvc[s3]                 # Data and model versioning with S3 support

# === Workflow Orchestration ===
apache-airflow	# DAG-based orchestration

# === Serving (FastAPI backend) ===
fastapi		# API for model inference
uvicorn		# ASGI server to run FastAPI

# === Visualization ===
matplotlib	# Basic plots
shap		# Model explainability (SHAP values)

# === File Upload Support ===
python-multipart	# Recwuired for file uploads via FastAPI

# === Jupyter + Kernel Support ===
ipykernel               # Register virtualenv as notebook kernel
jupyterlab              # For running and editing notebooks

# === Optional / Future Add-ons ===
# streamlit	# Interactive dashboards
# seaborn	# Statistical visualization
# optuna 	# Alternative to Hyperopt (more modern, lightweight)
# ligthgbm	# Alternative to XGBoost (faster on larger data)
